.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}
.mySwiper {
  display: flex;
  align-items: center;
  justify-content: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  
}


.Slider {
  margin-top: 89px;
}

.Slider h1 {
  color: #222;
display: flex;
align-items: center;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 56px */
text-transform: uppercase;
}
.Slider p {
  color: #222;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
text-transform: uppercase;
}
.item__img {
  background: #7373D7;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.strelka__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
